.button {
  box-sizing: border-box;
  display: flex;
  gap: var(--gap-small);
  align-items: center;
  justify-content: center;
  padding: var(--gap-small);
  width: 323px;
  border: var(--border-width-button) solid var(--color-accent-primary);
  cursor: pointer;
  font-family: inherit;
}

.default {
  background-color: var(--color-background-white);
}

.pressed {
  background-color: var(--color-accent-primary);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-tight);
  font-style: normal;
  white-space: pre;
}

.default .content {
  color: var(--color-accent-primary);
}

.pressed .content {
  color: var(--color-text-secondary);
}

.disabled {
  background-color: var(--color-background-secondary);
  border-color: var(--color-background-secondary);
  cursor: not-allowed;
  opacity: 0.6;
}

.disabled .content {
  color: var(--color-text-primary);
}

.content p {
  line-height: normal;
  margin: 0;
}

