.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  align-items: center;
  justify-content: center;
  padding: var(--gap-small);
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.default {
  background-color: var(--color-accent-primary);
}

.pressed {
  background-color: var(--color-background-primary);
}

.content {
  display: flex;
  flex-direction: column;
  height: 44px;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-icon);
  line-height: var(--line-height-tight);
  font-style: normal;
  text-align: center;
  color: var(--color-text-secondary);
  width: 38px;
}

.content p {
  line-height: normal;
  margin: 0;
}

